@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --background: #fffff4;
  --foreground: #171717;
}

html,
body,
#__next {
  min-height: 100vh;
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-slider-track {
  @apply bg-black;
}

.custom-slider-track-fullscreen {
  @apply bg-gray-900;
}

mux-player {
  --controls: none;
}